*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*common*/
/*scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*body*/
body{
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 13px;
    height: 100vh;
}

/*header*/
header {
    width: calc(100% - 130px);
    /* width: calc(100% - 160px); */
    height: 60px;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex; 
    justify-content: flex-end;  
    align-items: center;  
    padding: 0 15px; 
    position: fixed;
}
.btn-upgrade{
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 11px;
    vertical-align: middle;  
    transition: transform 0.3s; 
}
.btn-upgrade:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/*main*/
main{
    display: flex;
    height: calc(100vh - 60px);   
}

/*side nav*/
.side-nav {
    width:190px;
    background-color: black;
    padding: 10px 0;
    font-size: 12px; 
    flex-direction: column;
    display: flex;
}
.logo-testo{    
    display: flex;
    align-items: center;
    padding: 5px 0 15px 0;
}
.logo  {    
    width: 70%;
}
.icone{
    height: 20px;
    vertical-align: middle;   
}
.prima-lista li{
    border-left: 3px solid transparent;
    padding: 4px 0 0 7px;
    opacity: 0.5;
    list-style: none;  
    line-height: 20px;
       
}
.prima-lista>.yellow{
    border-left: 3px solid greenyellow;
    
}
.prima-lista li:hover{
    opacity: 1;
    cursor: pointer;
}
.playlist{
    font-size: 14px;
    padding: 15px 0 10px 10px;    
}
.plus-playlist{
    padding-left: 10px;
    opacity: 0.5;
}
.fa-plus-square{
    height: 24px;
    font-size: 24px;
    vertical-align: middle;
    padding-right: 5px;
}
.hr-nav{
    margin-top: 5px;
}
.profile{
    background-color: grey;
    height: 20px;
    width: 20px;
    border-radius: 50%;    
}
.name{
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}
.nav-bottom{
    bottom: 70px; 
    background-color: black;
    height: 65px;
    padding:0 10px 0 10px;
}
.name-nav {
    padding: 5px 10px 0 0;
}

.seconda-lista {
    overflow-y: auto;
    flex-grow: 1;  
}
.seconda-lista ul li:hover{
    opacity: 1;
    cursor: pointer;
}
.download{
    padding-left: 5px;
    opacity: 0.5;
}
.download:hover{
    opacity: 1;
    cursor: pointer;
}

/*main principle*/
.main-album{
    display: flex;
    width: 100%;
    overflow-y: auto;
    padding: 60px 15px 0 15px;
    flex-wrap: wrap;
    align-content: flex-start;
} 
.nav-orizzontale {
    display: inline-block;
    justify-content: center;
    padding:10px ; 
    display: flex; 
    width: 100%;   
}

.nav-orizzontale li{
    display: inline-block;
    text-align: center;
    padding: 0 15px 20px 0;
    font-size: 12px;
    font-weight: 500;
    color: lightgray;    
    
}

.nav-orizzontale li:first-child::after{
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    background-color: yellowgreen;
    margin: auto;
    margin-top: 3px;   
}
.nav-orizzontale li:hover{
    color: white;
    cursor: pointer;
}

/*prima row*/
.title-main{
    width: 100%;   
}
.prima-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;        
}
.album{
    text-align: center; 
    padding: 5px;  
    padding-bottom: 3%;
    width: calc(100% / 6);
}
.copertina{
   width: 100%;    
    object-fit: cover; 
       
}
.album{
    position:relative;
    
}

.cover{
    position: relative;
}
.cover::after{
    font-family: "Font Awesome 5 Free";
    content: '\f144';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);

}
.album:hover .cover::after{
    display: flex;
}

.album-name {
    padding: 10px 0 5px 0;
    font-weight: 600;
}
.sottotitolo{
    font-weight: 200;
    font-size: 11px;
}
/*seconda row*/
.seconda-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;   
}
.sottotitolo-row{
    width: 100%;
    padding:5px 0 10px 0;
}
.cover-due{
    width: 100%;    
    object-fit: cover;    
    padding: 15px 14px 0 0;
}
/*row rounded*/
.round{
    border-radius: 50%;    
}

/*footer*/
footer{
    background-color: #282828;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
    z-index: 2;
    position: fixed;
    bottom: 0;
    padding: 0 15px;    
}
.footer-left{
    width: 20%;
    display: flex;       
    align-items: center;
}
.small-album{
    width: 60px;
    height: 60px;
    padding: 2%; 
    object-fit: cover;
}
.footer-info{    
    justify-items: flex-start;
    padding: 0 30px 0 10px;
}
.footer-artist{
    font-weight: 600;
    
}
.footer-brano{
    font-size: 11px;
    opacity: 0.4;
    
}
.icon-left{
    padding-right: 15px;
    font-size: 15px;
    opacity: 0.4;
}
.icon-left:hover{
    opacity: 1;
}
.col-center{
    width: 50%;
    text-align: center;
    padding-top: 3px;
}
.top-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa-play-circle:hover{
    transform: scale(1.1);
}
.player-icon{
    padding: 0 25px 10px 0;
    font-size: 13px;    
}
.fa-play-circle{
    font-size: 20px;
}
.section-player{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.time{    
    font-size: 10px;
}
.slider-player{
    margin: 0 8px;
    height: 4px;
    width: 270px;
    border-radius: 15px;
    background-color: gray;
    position: relative;
}
.slider-over{
    position: absolute;
    background-color: white;
    height: 4px;
    width: 30%;
    left: 0;
    border-radius: 15px;
    
}
 .slider-over:hover{
    background-color: greenyellow;
    
} 
.slider-over:hover::after{
    
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    right: 0;
    position: absolute;
    top: -3px;
}
.col-right  {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-footer-right{
    display: flex;
    font-size: 15px;
    padding-right: 10px;
        
}
.icons-footer-right>.fas{
    padding: 0 8px;
}
.section-volume {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume{
    margin: 0 3px;
    height: 3px;
    width: 80px;
    border-radius: 15px;
    background-color: grey;
    position: relative;
}
.volume-over{
    position: absolute;
    background-color: white;
    height: 3px;
    width: 40%;
    left: 0;
    border-radius: 15px;
    
}
.volume-over:hover{
    background-color: greenyellow;
    
} 
.volume-over:hover::after{
    
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    right: 0;
    position: absolute;
    top: -3px;
}


